.quiz-container {
  .title {
    font-size: 30px;
    font-weight: 600;
  }

  .add-new {
    margin-top: 20px;

    .label-upload {
      display: flex;
      align-items: center;
      background: #eee;
      width: fit-content;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background: #ddd;
      }

      .icon-image-add {
        color: green;
        font-size: 25px;
        margin-right: 2px;
      }
    }

    .image-preview {
      margin-top: 10px;
      border-radius: 4px;
      border: 2px dashed #000;
      text-align: center;
    }
  }
}
