.label-upload {
  display: flex;
  align-items: center;
  background: #eee;
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background: #ddd;
  }

  .icon-image-add {
    color: green;
    font-size: 25px;
    margin-right: 2px;
  }
}
